In [3]:
import pandas as pd

In [4]:
taxi_df = pd.read_csv('data/yellow-tripdata-2024-01.csv')

c:\users\abhin\appdata\local\programs\python\python37\lib\site-packages\IPython\core\interactiveshell.py:3553: DtypeWarning: Columns (3,5,17,18) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [5]:
taxi_df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee
0,2,2024-01-13 03:18:09.000000,2024-01-13 03:24:37.000000,1,2.31,1,N,48,68,1,11.4,1.0,0.5,3.28,0.0,1.0,19.68,2.5,0.0
1,2,2024-01-13 03:52:58.000000,2024-01-13 04:01:18.000000,1,2.61,1,N,231,164,1,13.5,1.0,0.5,2.00,0.0,1.0,20.50,2.5,0.0
2,2,2024-01-13 03:26:02.000000,2024-01-13 03:34:43.000000,1,1.79,1,N,90,233,1,11.4,1.0,0.5,3.28,0.0,1.0,19.68,2.5,0.0
3,2,2024-01-13 03:53:44.000000,2024-01-13 04:10:56.000000,1,6.58,1,N,141,244,1,27.5,1.0,0.5,6.50,0.0,1.0,39.00,2.5,0.0
4,2,2024-01-13 02:58:28.000000,2024-01-13 03:14:33.000000,1,3.40,1,N,79,246,1,18.4,1.0,0.5,4.68,0.0,1.0,28.08,2.5,0.0

In [6]:
taxi_df.shape

(2964624, 19)